[include]
	path = ~/.git_identity
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	unstage = reset HEAD
	co = checkout
	ci = commit -m
	type = cat-file -t
	dump = cat-file -p
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
